<div class="py-9 bg-[#EDEDED] w-full">
    <section class="w-full flex justify-around slider-container">
        <img class="w-16 slider-image" src="./../../../../assets/images/renault-logo.png" alt="renault logo">
        <img class="w-16 slider-image" src="./../../../../assets/images/honda-logo.png" alt="honda logo">
        <img class="w-16 slider-image" src="./../../../../assets/images/bmw-logo.png" alt="bmw logo">
        <img class="w-16 slider-image" src="./../../../../assets/images/mercedez-logo.png" alt="mercedez logo">
        <img class="w-16 slider-image" src="./../../../../assets/images/porshe-logo.png" alt="porshe logo">
        <img class="w-16 slider-image" src="./../../../../assets/images/mazda-logo.png" alt="mazda logo">
        <img class="w-16 slider-image" src="./../../../../assets/images/mini-logo.png" alt="mini logo">
        <img class="w-16 slider-image" src="./../../../../assets/images/audi-logo.png" alt="audi logo">
    </section>
</div>
