<!--cambiar el 'name' del input segun aparezca en la base de datos-->
<div class="text-white">

    <div class="bg-[#1C274C] border-b-[1px] desaparecer-en-mobile">
        <section class="flex justify-center gap-12 items-center text-[13px] w-full py-2">
            <div class="inline-flex gap-1 items-center">
                <img class="max-w-5 rotate-[135deg] invert-svg" src="./../../../../assets/icons/flecha-abajo.svg" alt="">
                <h2 class="texto-variable whitespace-nowrap text-[12px]">CL 53 # 34 37 - Medellín, Antioquia.</h2>
            </div>

            <div class="inline-flex gap-1 items-center">
                <img class="max-w-5 invert-svg" src="./../../../../assets/icons/telefono.svg" alt="">
                <h2 class="texto-variable whitespace-nowrap text-[12px]">(301) 755 - 6016</h2>
            </div>

            <div class="inline-flex gap-1 items-center">
                <img class="max-w-5 invert-svg" src="./../../../../assets/icons/email.svg" alt="">
                <h2 class="min-w-0 flex-grow whitespace-nowrap text-[12px]">contacto&#64;mecanicoadomiciliomedellin.com</h2>
            </div>

            <div class="flex items-center justify-center gap-4 w-32">
                <a class="w-5 py-3" href="#">
                    <img class="w-4 icono-animado invert-svg" src="./../../../../assets/icons/whatsapp.svg" alt="">
                </a>
                <a class="w-5" href="#">
                    <img class="w-4 icono-animado invert-svg" src="./../../../../assets/icons/facebook.svg" alt="">
                </a>
                <a class="w-5" href="#">
                    <img class="w-4 icono-animado invert-svg" src="./../../../../assets/icons/linkedin.svg" alt="">
                </a>
            </div>
        </section>
    </div>

    <footer class="bg-[#1C274C] px-4 py-2 footer-responsive">
        <div>
            <form action="" class="flex flex-col justify-between gap-3 py-6">
                <label for="email" class="text-[36px]">Suscríbete</label>
                <div>
                    <input type="email" id="email" name="email" placeholder="Ingresa tu correo"
                        class="bg-transparent text-[16px] border-b-[1px] w-full border-gray-50">
                </div>
                <div>
                    <input type="submit" value="Enviar" class="text-[16px] xl:px-[35px] submit-simple">
                </div>
            </form>
        </div>

        <div class="w-full flex justify-center footer-responsive-div">
            <p class="text-[14px]">Powered by <span class="font-bold">CODEYNC</span>.</p>
        </div>

        <div class="w-full flex flex-col items-center justify-center footer-responsive-div">
            <div class="flex flex-col justify-between gap-3 py-6">
                <div>
                    <h2 class="uppercase text-[24px] fuente-krona font-bold pb-4">Autodoom</h2>
                </div>
                <p class="text-[14px] font-light footer-resposive-p">
                    Su destino confiable para todas las necesidades
                    de reparación y mantenimiento de automóviles
                </p>

                <div class="flex items-center justify-center gap-2 py-4 footer-iconos-mobile">
                    <a class="w-5 py-3" href="#">
                        <img class="w-4 invert-svg icono-animado" src="./../../../../assets/icons/whatsapp.svg" alt="">
                    </a>
                    <a class="w-5" href="#">
                        <img class="w-4 invert-svg icono-animado" src="./../../../../assets/icons/facebook.svg" alt="">
                    </a>

                    <a class="w-5" href="#">
                        <img class="w-4 invert-svg icono-animado" src="./../../../../assets/icons/linkedin.svg" alt="">
                    </a>
                </div>

                <div>
                    <p class="text-[14px] whitespace-nowrap text-center footer-copy-mobile">© 2024 AUTODOM. Todos los
                        derechos reservados</p>
                </div>
            </div>
        </div>
    </footer>


    <div class="text-black py-7">
        <div class="text-[13px] flex flex-row-reverse justify-between items-center gap-4 px-2 text-xs lg:text-sm  footer-bottom">

            <div class="flex justify-around gap-3 text-center footer-botomm-enlaces">
                <a href="#">Sobre Nosotros</a>
                <a href="#">FAQ's</a>
                <a href="#">Política de Privacidad</a>
            </div>

            <div class="flex justify-around">
                <p class="whitespace-nowrap">Nosotros Aceptamos:</p>
                <div class="flex gap-2">
                    <img class="w-5" src="./../../../../assets/images/tarj-visa.png" alt="visa">
                    <img class="w-5" src="./../../../../assets/images/tarj-master.png" alt="master">
                    <img class="w-5" src="./../../../../assets/images/tarj-morada.png" alt="nequi">
                    <img class="w-5" src="./../../../../assets/images/tarj-maestro.png" alt="maestro">
                </div>
            </div>

            <div>
                <p class="text-[14px] text-center footer-copy-desktop">© 2024 AUTODOM. Todos los
                    derechos reservados</p>
            </div>

            
        </div>
    </div>
</div>