<div class="py-6 overflow-hidden">
    <div class="sobre-nosotros">
        <div class="sobre-nosotros-textos">
            <h2 class="px-2 fuente-krona uppercase text-[24px] py-5">Sobre nosotros</h2>
            <p class="px-2 text-[16px]">
                Auto Dom surge de la iniciativa del mecánico automotriz Jurgen Sánchez Mejía, respaldado por un equipo
                altamente capacitado. <span class="font-bold">Nuestro objetivo es brindarle una atención
                    excepcional</span> y garantizar la máxima calidad en los servicios y suministros automotrices que
                ofrecemos.
            </p>

                <a class="text-gray-400 flex gap-3 items-center p-2 w-fit transition-all hover:text-gray-800" href="">
                    <p>Conoce más</p>
                    <img src="./../../../../../assets/icons/flecha-right.svg" alt="">
                </a>
        </div>

        <div class="recorte relative px-2">
            <div class="z-50 absolute top-0 right-[2.5rem] sobre-nosotros-nombre">
                <h3 class="text-[24px]">
                    <span class="block">Harold</span>
                    <span class="block">Sánchez</span>
                </h3>
                <p class="text-[12px]">Técnico Especialista</p>
            </div>
            <img src="./../../../../../assets/images/mecanico.png" alt="">
        </div>
    </div>


    <div class="bg-[#EDEDED] w-full py-12 relative sobre-nosotros-frase">
        <img class="absolute -top-5 sobre-nosotros-frase-comilla-1" src="./../../../../../assets/images/comillas-1.png" alt="comilla">
        <h3 class="px-2 text-center text-[16px]">
            A lo largo de los años me he desempeñado como mecánico automotriz, soy una persona dedicada a brindar
            soluciones que satisfagan las necesidades de los clientes, y lo mas grato es ver dicha satisfacción en ellos
            cumplida.
        </h3>
        <img class="absolute right-0 -bottom-5 sobre-nosotros-frase-comilla-2" src="./../../../../../assets/images/comillas-2.png" alt="comilla">

    </div>

</div>