<div>
    <div class="w-full">
        <div class="w-full flex flex-col justify-center items-center p-2">
            <div class="w-[53%] cars-tittle">
                <h2 class="font-bold py-10 text-center text-[24px]  fuente-krona max-w-[50rem]">Su
                    vehículo en manos expertas, su tranquilidad garantizada.</h2>
            </div>

            <div class="w-full text-center p-2 cars-mobile">
                <p><span class="font-bold">Bienvenido a AUTODOOM</span>, su destino confiable para todas las necesidades
                    de reparación y mantenimiento de automóviles.</p>
            </div>
        </div>

        <div class="w-full cars-mobile">
            <img class="w-full" src="./../../../../../assets/images/cars-mobile.png" alt="vehiculos">
        </div>

        <div class="w-full flex justify-center items-center pb-6 cars-mobile">
            <a class="bg-[#1C274C] py-2 px-6 text-white rounded-md transition-all hover:bg-white hover:text-[#1C274C] hover:border" href="#">Contactar Ahora</a>
        </div>
    </div>


    <!-- desktop -->
    <div class="flex justify-center items-center contenedor-imagen-titulo-desk cars-desktop">
        <div>
            <div class="w-full text-start p-2 px-6 pb-6">
                <p><span class="font-bold">Bienvenido a AUTODOOM</span>, su destino confiable para todas las necesidades
                    de reparación y mantenimiento de automóviles.</p>
            </div>

            <div class="w-full flex justify-start items-center px-4 boton-contacto">
                <a class="bg-[#1C274C] py-2 px-6 text-white rounded-md transition-all hover:bg-white hover:text-[#1C274C] hover:border" href="#">Contactar Ahora</a>
            </div>
        </div>

        <div class="recorte -mt-20">
            <img src="./../../../../../assets/images/cars-desk.png" alt="vehiculos">
        </div>        
    </div>

    <div class="w-full text-center exp-slogan">
        <p class="px-6">Experiencia con las Principales Marcas de Vehículos.</p>
    </div>

</div>