@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Krona One';
    src: url('/assets/fonts/KronaOne-Regular.woff2') format('woff2');
    /* Agrega aquí otros formatos de fuente si son necesarios */
}

@font-face {
    font-family: 'Outfit';
    src: url('/assets/fonts/Outfit-VariableFont_wght.woff2') format('woff2');
    /* Agrega aquí otros formatos de fuente si son necesarios */
}


html, body {
    height: 100%; /* Establece la altura del html y el body en un 100% */
}

body {
    width: 100%;
    padding-inline: 4px;
}


h1, h2, h3, p, span, label, input, a {
    font-family: 'Outfit', sans-serif !important;
}

.fuente-krona {
    font-family: 'Krona One', sans-serif !important;
}

.boton-animado {
    transition: transform 0.3s ease, background-color, color 0.3s ease;
    padding: 5px;
    border-radius: 3px;
}

.boton-animado:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño */
    background-color: #1C274C; /* Cambia el color de fondo */
    color: white;
}


.boton-animado2 {
    padding: 5px 20px;
    transition: transform 0.3s ease, background-color, color 0.3s ease-in;
}

.boton-animado2:hover {
    background-color: #1C274C; /* Cambia el color de fondo */
    color: white;
}


.icono-animado {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.icono-animado:hover {
    transform: scale(1.2);
}

.submit-simple {
    background-color: #D9D9D9;
    color: #000;
    padding: 5px 25px;
    cursor: pointer;
    transition: transform 0.3s ease;

}

.submit-simple:hover {
    transform: scale(1.1);
}


.invert-svg {
    filter: invert(100%);
}



@media screen and (min-width: 767px) {
    .texto-variable {
        font-size: 11px !important;
    }
}

@media screen and (min-width: 900px) {
    .texto-variable {
        font-size: 12px !important;
    }
}

@media screen and (min-width: 1200px) {
    .texto-variable {
        font-size: 14px !important;
    }
}
