<div class="py-10">
    <div class="w-full text-center pb-8">
        <h2 class="text-[32px] fuente-krona">Nuestros servicios</h2>
    </div>

    <section class="contenedor-servicios">
        <div class="border-t-2 border-b-2 contenedor-servicios-div">
            <div class="px-8 py-5">
                <h3 class="font-bold text-[20px] pb-4">Revisión Integral</h3>
                <p class="text-[16px]">
                    Diagnóstico completo de sistemas mecánicos, electrónicos, neumáticos e hidráulicos para garantizar el correcto funcionamiento de su vehículo.
                </p>
            </div>
        </div>


        <div class="border-t-2 border-b-2 contenedor-servicios-div ">
            <div class="px-8 py-5">
                <h3 class="font-bold text-[20px] pb-4">Baterías</h3>
                <p class="text-[16px]">
                    Venta, revisión y cambio de baterías con productos de calidad que aseguran un arranque confiable en todo momento.
                </p>
            </div>
        </div>


        <div class="border-t-2 border-b-2 contenedor-servicios-div">
            <div class="px-8 py-5">
                <h3 class="font-bold text-[20px] pb-4">Asistencia en Carretera</h3>
                <p class="text-[16px]">
                    Servicio de remolque con grúa tanto en taller como en cualquier lugar donde su automóvil presente una avería, brindándole tranquilidad y soporte en todo momento.                
                </p>
            </div>
        </div>


        <div class="border-t-2 border-b-2 contenedor-servicios-div">
            <div class="px-8 py-5">
                <h3 class="font-bold text-[20px] pb-4">Diagnóstico Avanzado</h3>
                <p class="text-[16px]">
                    Utilización de tecnología de escáner computarizado para la detección precisa de funcionamiento de sensores, módulos electrónicos y la identificación de códigos de fallas.                
                </p>
            </div>
        </div>


        <div class="border-t-2 border-b-2 contenedor-servicios-div">
            <div class="px-8 py-5">
                <h3 class="font-bold text-[20px] pb-4">Transmisiones Automáticas e Inyectores</h3>
                <p class="text-[16px]">
                    Reparación especializada de cajas automáticas y servicio de lavado de inyectores para mantener el óptimo rendimiento y eficiencia del motor.              
                </p>
            </div>
        </div>


        <div class="border-t-2 border-b-2 contenedor-servicios-div">
            <div class="px-8 py-5">
                <h3 class="font-bold text-[20px] pb-4">Venta de Repuestos</h3>
                <p class="text-[16px]">
                    Amplia gama de repuestos disponibles para la venta, garantizando la calidad y compatibilidad con su vehículo para una óptima funcionalidad y durabilidad.             
                </p>
            </div>
        </div>

    </section>
</div>  